module.exports = {

    title: "xxxxx"
    mysql_connect : {
        // mysql setting
        host: "xxxxx",
        port: 3306,
        user: "xxxxx",
        password: "xxxx",
        database: "xxxx",
        charset: "xxxxx"
    },
    keywordList : [
        "xxx",
        "xxx",
        "xxx"                
    ],
    secure_proxy: "xxxx",

    logger_file: "./../daemon.log",
    logger_exceptions_file: "./../daemon_exceptions.log"
};
