doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/semantic.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet", href="css/components/form.css")
    script(src='js/jquery.min.js')
    script(src='js/semantic.js')
    script(src="js/components/form.js")
    script(src='js/index.js')
  body
    block content
      div.ui.page.grid
        div.column
          h1= title
          div(name="login", id="login", class="ui form segment")
            h4.ui.dividing.header 登录
            a(href='#', onclick='showregister()', style={float: 'right'}) 快速注册
            div.field
              div.field.required
                label 用户名
                div.ui.icon.input
                  input(name='login_username', type='text')
                  i.user.icon
              div.field.required
                label 邮箱
                div.ui.icon.input
                  input(name="login_email", type="text")
                  i.email.icon
              div.field.required
                label 密码
                div.ui.icon.input
                  input(type='password', name='login_password')
                  i.lock.icon
              br
              br
              div.ui.blue.fluid.submit.button 登录

          div#register.ui.form.segment(style={display: 'none'})
            h4.ui.dividing.header 注册
            a(href='#', onclick='showlogin()', style={float: 'right'}) 直接登录
            div.field
              div.required.field
                label 用户名
                div.ui.icon.input
                  input(type='text', name='register_username')
                  i.user.icon
              div.required.field
                label 邮箱
                div.ui.icon.input
                  input(type="text", name="register_email")
                  i.email.icon
              div.required.field
                label 密码
                div.ui.icon.input
                  input(type='password', name='register_password')
                  i.lock.icon
              div.required.field
                label 重复密码
                div.ui.icon.input
                  input(type='password', name='register_confirm_password')
                  i.lock.icon
              div.ui.green.fluid.submit.button 注册
